


/*parte condivisa tra tutte le pagine */


#logo{

display: none;
}

#header {

padding-bottom : 2em;
border-bottom:1em solid #191970;

}



#header h1{

font-size :2em;
text-align : center ;
}



#contenuto{

clear: both;
display :block;
width: 100%;

}

/* inizio index */

.immagine{

clear:both;
display :block;
width : 100%;
}

/* fine index*/


/* inizio libri*/

#ciao{

margin-bottom: 1em; 
margin-top:1em;

}

#ciao fieldset{

padding-top: 1em;
padding-bottom: 1em;

}

#titolo{

width: 70%;

}

#submit, #reset{

margin-top: 1em;
width: 48%;
height: 2em;
}



/* fine libri*/

/* inizio registrazione*/


#centra{

text-align: center;
padding-left: 0em;
padding-right: 0em;

}


/* fine registrazione*/


/* inizio login*/

#login{
margin: 0;
padding-top: 1.5em;
padding-bottom: 1.5em;
margin-top:1em; 
margin-bottom: 1em;
}

/* fine login*/


/* inizio contatti*/

#contatti{
  width:100%;
}



/* fine contatti*/
