
/* parte condivisa tra tutte le pagine */ 

.menu{
display: none;

}


#path{

display: none;

}

/* fine parte condivisa tra tutte le pagine*/


/* inizio home */

#libro img{

display: none;

}

/*fine home*/


/* inizio login */

#login{

display: none;

}

/* fine login */


/* inizio libri */

.tabella{

display: none;

}

/* fine libri */

/* inizio registrazione */

#centra h1{

display: none;

}

/* fine registrazione */


/* condivisa tra contatti e registrazione */

.form_interna{

display: none;

/* fine parte condivisa tra contatti e registrazione */
}
