*{
padding: 0em;
margin: 0em;
}

#logo{ 
display:block; 
float:left; 
width:12%; 
/*height:10em;*/
background-image: url(immagini/);
background-repeat:no-repeat; 
margin:1em;
margin-left:1.5em; 
padding:1.0em; 
padding-bottom:0.5em; 
}

.descrizione{ 
display:block; 
}


#path{
background-color: #222222;
color: #FFFFFF;
text-align: left;
padding-left: 0.5 em;
padding:1 em;
}

#menu{
width: 100%;
float: left;

}

#menu ul{
text-align: center;

}

#menu ul li{
	
display: inline-table;
color: #8e181b;
}

#menu li{
list-style: none;

}

#menu ul li a{
	color:black;
	text-decoration:none;
} 
#menu ul li a:hover{
	opacity:0.5;
}

#libro{ 
display:block; 
float:left; 
width:12%; 
height:15em; 
background-image: url(immagini/allegiant.jpg); 
margin:1em;
margin-left:1.5em; 
padding:1.0em; 
padding-bottom:0.5em; 
}

/* Contatti  */

div#contatti {
    width: 60%;
    height: 60%;
	margin:0 auto;
}

.info{
	position:relative;
	border-width: 1px 1px 1px 1px;
	border-style: solid; 
	border-color: black;
	padding-left:3%;
	padding-right:3%;
	margin-bottom:1%;
	margin-top:4%;	
}

.form{
	position:relative;
	border-width: 1px 1px 1px 1px;
	border-style: solid; 
	border-color: black;
	padding-left:3%;
	padding-right:3%;
	padding-top:1%;
}

.form_interna{
	padding-left:3%;
	padding-right:3%;
	padding-top:1%;
	padding-bottom:1%;
}

.info{
	text-align:center;
	padding-left:3%;
	padding-right:3%;
	padding-top:1%;
}
/* fine Contatti */

#footer{

clear: both;
background : #222222;
color: #FFFFFF;
text-align: center;

}